/* FOR INDEX, HOMEPAGE, FIVE, FIFTHTEEN, THIRTY */

* {
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
  background: var(--grey);
  overflow-x: hidden;
}

/* body {
  
} */

.container {
    background: transparent;
    padding: 15%;
    text-align: center;
    height: 100vh;
}

/* ---HEADER--- */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
}

nav h1{
    width: 70%;
    text-align: left;
}

nav ul {
    list-style-type: none;
    width: 30%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* ---END OF HEADER--- */

/* ---CONTAINER--- */

h1, p {
    color: rgba( 248, 215, 28, 1 );
    font-size: 70px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    color: rgba( 248, 215, 28, 1 );
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form {
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input {
    width: 10%;
    font-size: 30px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* ---END OF CONTAINER--- */